.terraform/
# Ignore all credential files
*.tfvars
*.tfvars.json

# Ignore the SSH keys we just made
airflow_github_key
airflow_github_key.pub

# Ignore terraform state locals
.terraform/
*.tfstate
*.tfstate.backup

# Ignore Terraform state and secrets
*.tfstate
*.tfstate.backup
.terraform/
terraform.tfvars